$black: #151515;
$blackLight: #181818;
$blackVeryLight: #252525;
$gold: rgb(255, 196, 0);

*{
    color: whitesmoke;
}
body{
    background-color: $black;
}
//------------------------------Navbar---------------------------

.imageWelcome{
    text-align: center;
    img{
        margin-top: 5%;
    }
}

.logo{
    width: 150px;
}
.navMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .navMenuLeft{
        display: flex;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 25px;
        margin-right: 20px;

        &:hover{
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
.navbarWelcome{
    position: relative;
    right: 10px;

    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 25px;
        margin-right: 20px;

        &:hover{
            color: whitesmoke;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}



//----------------------------Index-----------------------------
.main{
    margin-left: 5%;
    margin-right: 5%;
}
.titre{
    text-align: center;
}

.cards{
    color: whitesmoke;
    margin-left: 5%;
    display: grid;
    gap: 100px !important;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 1fr);

    a{
        text-decoration: none;
    }

    .card{
        background-color: $blackLight;
        border: none;
        width: 280px;


        .imageCard{
            display: flex;
            justify-content: center;

            img{
                margin-top: 5%;
                border-radius: 2%;
                text-align: center;
                background-color: $black;
                width: 250px;
                height: 220px;
            }
        }
        
        .card-title{
            text-align: center;
        }
    }
}
//----------------------------Commun-----------------------------

.boutonCentral{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
}

.imageCentral{
    display: flex;
    justify-content: center;
}

.cardHover{
    background-color: $blackLight;
    border-radius: 2%;
    border: none;
    padding: 5%;

        &:hover{
            transition: ease-in-out 0.3s;
            background-color: $blackVeryLight
        }
}

.photoCircle{
    border-radius: 50% !important;
}

select{
    background-color: whitesmoke !important;
    font-weight: bolder !important;
}

//----------------------------Show-----------------------------
.showPage{

    .main{
        .showText{
            p{
                font-size: 20px;
                text-align: center;
                span{
                    font-size: 15px;
                }
            }
            a{
                color: whitesmoke;
            }
        }
        h4{
            margin-left: 5%;
            margin-bottom: 30px;
            margin-top: 30px;
        }
        
        .imageShow{
            display: flex;
            justify-content: center;
            
            img{
                width: 450px;
            }
        }
        .casting{
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            flex-wrap: wrap;

            .artistes{
                img{
                    width: 200px;
                    height: 200px;
                }
                p{
                    margin-top: 5%;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        .discographie{
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            flex-wrap: wrap;
            
            .albums{
                width: 220px;
                img{
                    width: 200px;
                    border-radius: 2%;
                }
            }
        }
    }
}   

//----------------------------Table-----------------------------
.artisteTable{
    margin-left: 2%;
    margin-right: 2%;
    width: 90%;

    thead{
    font-size: 25px;
    }
    tbody{
    font-size: 20px;
        tr{
            &:hover{
                transition: ease-in-out 0.3s;
                background-color: $blackVeryLight;
            }
        }
        .titleTableTbody{
            a{
                text-decoration: none;

                &:hover{
                    color: whitesmoke;
                    text-decoration: underline;
                }
            }
        }

        img{
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }
        
        span{
            font-size: 18px;
            color: grey;
        }
    }

    .hashtagThead{
        width: 5%;
    }
    
    .titleTableThead{
        width: 40%;
    }

    .albumTableThead{
        width: 20%;
    }
    
    .dureeTableThead{
        width: auto;
    }
}

//----------------------------Genres----------------------------

.cardGenre{
    width: 250px !important;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 30px;
    }
}


//----------------------------Login/register----------------------------

.login{
    background-color: $black;
    border: none;
}
.dropdown-menu{
    background-color: $black;
    border-color: whitesmoke;
}
.card{
    background-color: $black;
    border-color: whitesmoke;
    font-weight: bold;
}

//----------------------------Admin----------------------------
.mainAdmin{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.sidebarAdmin{
    width: 100%;
    min-width:200px;
        a{
            color: whitesmoke;
            font-size: 16px;
            font-weight: bold;
            &:hover{
                color: $gold;
                font-weight: bold;
                text-decoration: underline;
            }
        }
}
.blocLastPosts{
    width: 100%;
    a{
        color: whitesmoke;
        text-decoration: none;
        &:hover{
            color: $gold;
            font-weight: bold;
        }
    }
    .left{
        width: 40%;
    }
    .right{
        width: 40%;
    }
    .lastUsers{
        margin-bottom: -15px
    }
}

//----------------------My account------------------------
.myAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
}