.imageWelcome{
    text-align: center;

    img{
        margin-top: 3%;
    }
}

nav{
    
}
.logo{
    width: 150px;
}
.navMenu{
    display: flex;
    justify-content: space-between;
    .navMenuLeft{
        display: flex;
    }
    ul{
        list-style-type: none;
        display: flex;
    }
    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 25px;
        margin-right: 20px;

        &:hover{
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}
.navbarWelcome{
    position: relative;
    right: 10px;

    a{
        text-decoration: none;
        color: whitesmoke;
        font-size: 25px;
        margin-right: 20px;

        &:hover{
            color: white;
            text-decoration: underline;
            font-weight: bold;
        }
    }
}

